[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mirsahebali/Desktop/brave-jnpecgipniidlgicjocehkhajgdnjekh-Default.desktop]
row=5
col=0

[/home/mirsahebali/Desktop/brave-ojibjkjikcpjonjjngfkegflhmffeemk-Default.desktop]
row=6
col=0

[/home/mirsahebali/Desktop/Batman Arkham Asylum GOTY.desktop]
row=4
col=0

[ced7002a-72bd-43bd-8f47-4a40d52d4154]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=0
col=0

[/home/mirsahebali]
row=1
col=0

