[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mirsahebali/Pictures]
row=0
col=1

[/home/mirsahebali/clean_nvim.sh]
row=4
col=3

[/home/mirsahebali/VMs]
row=4
col=2

[/home/mirsahebali/UpdateInfo]
row=8
col=2

[/home/mirsahebali/dotfiles]
row=7
col=3

[/home/mirsahebali/go]
row=6
col=0

[/home/mirsahebali/Templates]
row=4
col=1

[/home/mirsahebali/misc]
row=3
col=2

[/home/mirsahebali/fun]
row=2
col=2

[/home/mirsahebali/VirtualBox VMs]
row=7
col=2

[/home/mirsahebali/exercism]
row=1
col=3

[/home/mirsahebali/dots]
row=5
col=0

[/home/mirsahebali/bin]
row=7
col=0

[/home/mirsahebali/Videos]
row=8
col=0

[/home/mirsahebali/yay]
row=4
col=0

[/home/mirsahebali/Notes]
row=6
col=3

[/home/mirsahebali/Learn Haskell by building a blog generator.pdf]
row=2
col=3

[/home/mirsahebali/practice]
row=0
col=3

[/home/mirsahebali/org]
row=0
col=2

[/home/mirsahebali/projects.txt]
row=6
col=2

[/home/mirsahebali/learn]
row=1
col=2

[/home/mirsahebali/Downloads]
row=5
col=1

[/home/mirsahebali/github]
row=5
col=3

[/home/mirsahebali/tmuxinator]
row=6
col=1

[/home/mirsahebali/Public]
row=3
col=1

[/home/mirsahebali/gtk-3.0]
row=7
col=1

[/home/mirsahebali/doc]
row=3
col=3

[/home/mirsahebali/VirtualBox]
row=5
col=2

[/home/mirsahebali/Documents]
row=2
col=1

[/home/mirsahebali/projects]
row=8
col=1

[/home/mirsahebali/Music]
row=1
col=1

[3b50e1a1-207a-42bb-853f-2c9a074b7669]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=0
col=0

[/home/mirsahebali]
row=1
col=0

