[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mirsahebali/Desktop/brave-jnpecgipniidlgicjocehkhajgdnjekh-Default.desktop]
row=5
col=0

[/home/mirsahebali/Desktop/brave-ojibjkjikcpjonjjngfkegflhmffeemk-Default.desktop]
row=6
col=0

[/home/mirsahebali/Desktop/Batman Arkham Asylum GOTY.desktop]
row=4
col=0

[2aa52ff8-9d16-4c59-9291-baf449382cba]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=0
col=0

[/home/mirsahebali]
row=1
col=0

